body {
    width: 100%;
    height: 100%;

}
.heading {
    color: rgb(21, 22, 20);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(97, 97, 212);
    padding: 3px;
}
h1, h2, h3 {
    text-align: center;
}
.footer {
    background-color: rgb(113, 96, 207);
}

img {
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 300px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.text-alinment  {
    text-align: justify;
}

.content {
    background-image: url("../images/background-image.jpeg");
    background-repeat:repeat;
    margin-top: 0px;
    margin-bottom: 0px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}