body {
    width: auto;
    height: auto;
}
.heading {
    color: rgb(21, 22, 20);
    text-align: center;
}
h1, h2, h3 {
    text-align: center;
}


img {
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 300px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.text-alinment  {
    text-align: justify;
}

.column {
    margin-left: 50px;
    margin-right: 50px;
}
