body {
    width: auto;
    height: auto;
}

img {
    display: block;
    border-radius: 4px;
    width: 200px;
    height: 300px;
}

.center {
    justify-content: center;
}

nav {
    width: 100%;
    height: 3em;
}
nav ul li {
    display: inline;
    float: right;
    padding:2em;
    margin: 2px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}